.catalogue {
	background: $brown;
	padding: 20px;
	margin-top: -90px;
	margin-bottom: 40px;
	color: $white-1;
	font-style: italic;
	text-align: center;
	font-size: 19px
}
.catalogue-link {
	color: $yellow-1;
	text-decoration: none;
	border-bottom: 1px solid $yellow-1;
}
.catalogue-link:hover {
	color: $white-1;
	border-bottom: 2px solid $white-1;
}