//@import "_intro.scss";


.main-header {
	padding: 20px 0;
}
.work-hours {
	background: $blue-1;
	height: 500px;
}

.city {
	color: $yellow-1;
	font-weight: $font-weight-bold;
}

.work-hours-text {
	font-size: 1.1em;
	color: $brown;
}