.footer {
	background: $blue-1 url(bg.jpg);
	color: $brown;
	text-align: center;
	padding: 40px 20px;
	font-size: 14px;
	//border-bottom: 100px solid $white;
}
.footer-text {
	margin: 0;
}
.footer-link {
	color: $brown;
	text-decoration: none;
	border-bottom: 1px solid $brown;
}
.footer-link:hover {
	color: $blue-2;
	border-bottom: 2px solid $blue-2;
}