.info-access {
	background: url(gjalski-bg.jpg) no-repeat top center;
}
	@media only screen and (max-width: 570px) {
		.info-access {
			background: #fff;
		}
	}
.info-access-text {
	font-size: 17px;
	font-size: 1.7rem;
}